<?xml version="1.0" encoding="GBK"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    <display-name>Classroom_Reservation</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LinkAdminServlet</servlet-name>
        <servlet-class>servlet.LinkAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LinkAdminServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/LinkAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReviseUserInfoServlet</servlet-name>
        <servlet-class>servlet.ReviseUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviseUserInfoServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/ReviseUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReviseAdminInfoServlet</servlet-name>
        <servlet-class>servlet.ReviseAdminInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviseAdminInfoServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/ReviseAdminInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportFaultServlet</servlet-name>
        <servlet-class>servlet.ReportFaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportFaultServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/ReportFaultServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReviewFaultServlet</servlet-name>
        <servlet-class>servlet.ReviewFaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewFaultServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/ReviewFaultServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderReviewServlet</servlet-name>
        <servlet-class>OrderReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderReviewServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/OrderReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReviewChangeStateServlet</servlet-name>
        <servlet-class>ReviewChangeStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewChangeStateServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/ReviewChangeStateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchIdleClassroomServlet</servlet-name>
        <servlet-class>SearchIdleClassroomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchIdleClassroomServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/SearchIdleClassroomServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCancelOrderServlet</servlet-name>
        <servlet-class>UserCancelOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCancelOrderServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/UserCancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewUserInfoServlet</servlet-name>
        <servlet-class>ViewUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserInfoServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/ViewUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/Classroom_Reservation/RegistServlet</url-pattern>
    </servlet-mapping>
</web-app>